# Assignment 1

### Assignment Instructions

* **How to install 'otter'**: Run `pip install otter-grader` in your Anaconda Command Prompt
* **Otter**: It is an autograder that we will be using for grading your notebooks.
* **grader.check('qn')**: This command runs test cases for nth question `qn` provided to you and displays the result. But these are not the only test cases, these are provided just for your basic testing. There will be some *hidden test cases* on which your answers will be tested as well.
* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...`

### Submission Instructions

* Rename your notebook as **YourName_DA1.ipynb**. (e.g. *`JohnDoe_DA1.ipynb`*)
* Download your notebook as a PDF and rename it to **YourName_DA1.pdf**
* Only submit your notebook and PDF in a zip file named **YourName_DA1.zip**

In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook()

In [ ]:
# Import necessary libraries here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Question 1:** We will begin from the very basics and attempt to create the table below. (`Note:` *name* is ***not*** an index_col)

| name | weight | height | BMI |
|-----|-----|-----| -----|
| Max | 110 | 70 | 15.78 | 
| Oliver | 115 | 71 | 16.04 |
| Tom | 120 | 72 | 16.27 |
| Harry |125 | 73 | 16.49 |
| Jasper | 130 | 74 | 16.69 |
| Finn | 135 | 75 | 16.87 |
| Felix | 140 | 76 | 17.04 |
| Asher | 145 | 77 | 17.19 |

**a:** Generate a series with the names of all the people. Assign it to the variable `name`.

In [ ]:
# Please write your code below

name = ...

In [ ]:
grader.check('q1a')

**b:** Generate a series that contains the weight of all the people. Assign it to `weights`. (You are required to use a python function to do this. Hardcoding all values manually is not allowed).

In [ ]:
# Please write your code below

weights = ...

In [ ]:
grader.check('q1b')

**c:** Generate a series that contains the height of all the people. Assign it to `heights`. (You are required to use a python function to do this. Hardcoding all values manually is not allowed).

In [ ]:
# Please write your code below

heights = ...

In [ ]:
grader.check('q1c')

**d:** Using the above series generate a series that contains the BMI of each person. The formula for BMI is as follows:
$$ BMI = weight (lb) √∑ height^2 (inches) * 703 $$
Assume that the given weight is in lb and height is in inches. Assign it to the variable `BMI`.  Round your answers to 2 decimal places  (You are not allowed to hardcode).

In [ ]:
# Please write your code below

BMI = ...

In [ ]:
grader.check('q1d')

**e:** Finally, use all the above created series to create the dataframe shown above. Assign it to `BMIData`.

In [ ]:
# Please write your code below

BMIData = ...

In [ ]:
grader.check('q1e')

We have provided you with a data set names `smartphones.csv`. This dataset contains information about various smartphones and their specifications.

**Question 2:** Read dataset from `smartphones.csv` and assign this dataframe to `smartphoneData`. Print the first 5 rows of the dataset so you know what the data is like:

In [ ]:
# Please write your code below

smartphoneData = ...

In [ ]:
grader.check('q2')

**Question 3:** In order to familiarize ourself with the dataset further, it is good to know the shape. Print the shape of the dataset and assign it to the variable `smartphoneDatashape`:

In [ ]:
# Please write your code below
smartphoneDatashape = ...

In [ ]:
grader.check('q3')

**Question 4:** Now that we know the shape of the dataset check if null values are present in it by writing a relevant code snippet that would do the job for you. Store the number of rows with null values, if any, in the variable `smartphoneDfNull`.

In [ ]:
# Please write your code below
smartphoneDfNull = ...

In [ ]:
grader.check('q4')

**Question 5a:** If you found any null values (missing values) from the code above, replace all those values with the average value in their respective columns. Do this only for columns containing numeric values. You are allowed to use the built-in mean() function here.

In [ ]:
# Please write your code below
...

Now for the rows that still have null values (in the non-numeric columns), drop these rows from the dataframe

In [ ]:
# Please write your code below
...

In [ ]:
grader.check('q5')

**Question 5b:** A good data scientist needs to be able to justify his/her choices. Do you think this was a good way of dealing with missing values? Why or why not?

In [ ]:
## Write your answer here:
## ...

**Question 6:** While going through the dataframe, you might have noticed some discrepancies in the column names. We will rename these columns so that we can make more sense out of the data and comprehend it in a better way. The following column changes must be reflected in the dataframe.
<ul>

<li>Mdl --> model</li>
<li> pc --> price</li>
<li>reso --> res </li>
 <li> primary_camera_rear --> rear_megapixels</li>
     <li> primary_camera_front --> front_megapixels</li>
</ul>

You should also drop the `rating` column.

In [ ]:
# Please write your code below
...

In [ ]:
grader.check('q6')

**Question 7:** There are some columns which have values of either `True` or `False`. Write a code snippet to replace these values with a 1 or a 0 respectively.

In [ ]:
# Please write your code below
...

In [ ]:
grader.check('q7')

**Question 8:** Now that we have understood the whole dataframe and tweaked it up to make it more comprehensible, set the index of the data frame to `brand_name`

In [ ]:
# Please write your code below
...

In [ ]:
grader.check('q8')

**Question 9a:** Saad needs to buy a new phone and as a data scientist, he has selected you to help him make a decision. His maximum budget is 50,000 rupees. However, he does not want to trade off quality for a phone that is too cheap. Filter out all the phones that fall within his budget constraint but also cost at least 15,000 rupees, and store it in the variable `filteredPhones`.

In [ ]:
# Please write your code below

filteredPhones = ...

In [ ]:
grader.check('q9a')

**Question 9b:** Next, saad gives you a list which contains preference values for certain smartphone features:

| feature | preference value |
|-----|-----|
| number of cores | 3 |
| battery capacity | 5 |
| screen size | 2 |
| refresh rate | 3 |
| ram capacity | 4 |
| internal memory | 5 |
| processor speed | 4 |
| rear camera megapixels | 3 |
| front camera megapixels | 2 |

Write a function `calculate` that takes a full row from the filtered dataset as a parameter and returns the score for the phone in that row by multiplying the preference values with the corresponding characterstics. **Hint:** There is a certain function which helps you print all column names in order (just in case you need to find their index)

In [ ]:
# Please write your code below

def calculate():
    ...

In [ ]:
grader.check ('q9b')

**Question 9c** Make a new dataframe with scores for each of the filtered phones along with their price, os and processor brand . Note: Order should be `score`, `price`, `os`,`processor_brand` with `model` as index. Assign it to `phoneScores`.

In [ ]:
# Please write your code below

phoneScores = ...

In [ ]:
grader.check('q9c')

**Question 9d** Using a pivot table, count the number of different processor brands each operating system (os) has. **Note:** Keep the operating system as the column. Assign the pivot table to the variable `pivotTable`

In [ ]:
# Please write your code below

pivotTable = ...

In [ ]:
grader.check('q9d')

**Question 9e** Using the phoneScores dataframe, Saad wants you to check for the most popular processor brand. Create a horizontal bar plot, where the y-axis contains each processor brand and the x-axis contains the number of phones using that brand of processor. Then write a code snippet to find the most popular brand and store this in the variable `most_popular_processor`

In [ ]:
# Please write your code below

most_popular_processor = ...

In [ ]:
grader.check('q9e')

**Question 9f** Saad now decides that he only wants an android phone with the most popular processor. Filter your results from the `phoneScores` dataframe to find phones with android operating systems and the processor brand you shortlisted in Q9e and store them in the variable `androidPhones`.

In [ ]:
# Please write your code below

androidPhones = ...

In [ ]:
grader.check('q9f')

**Question 9g** Finally, from these filtered android phones, find out the top 5 phones with the highest scores. Plot a bar chart for these phones with their model on the x axis and price on the y axis.

In [ ]:
# Please write your code below
...

**Question 9h** From these top 5 phones, Saad wants to buy the cheapest one. Use a python function to find the cheapest phone from these top 5 phones. Then visually find the cheapest phone from your bar chart. Do they match? If so, store the model name in the variable `finalPhone`.

In [ ]:
# Please write your code below

finalPhone = ...

In [ ]:
grader.check('q9h')

**Question 10** Using the original dataset `smartPhoneData`, find out if the average price of Android phones is higher than apple (ios) Phones. Make a variable names `higher_price` and store the string `Yes` or `No` in it depending on your answer. `Yes` indicating that Android phones are more expensive, on average.

In [ ]:
# Please write your code below

higher_price = ...

In [ ]:
grader.check("q10")

**Question 11** How many phones have a price and battery capacity below the thresholds mentioned below? Store it in the variable `numberOfPhones`. (Use the original dataset)
<br>
The column `faulty` in the original dataset indicates if a phone has known faults or not. `1` indicates there are known faults and `0` indicates there are no known faults.
Do you think phones with a lower price and battery capacity than the threshold have a higher probability of getting a fault? Justify this claim by providing a valid analysis.

In [ ]:
priceThreshold = 50000
batteryThreshold = 3000

# Please write your code below

numberOfPhones = ...

## Provide an explanation for your answer below
## ...

In [ ]:
grader.check("q11")

End of Assignment 01 üôè